@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background-color: #123456;
  font-family: 'Cairo', sans-serif;
  color: #c3c3c3;
  font-size: larger;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 155px 45px 155px 45px;
  grid-template-rows: repeat(5, 1fr), 2fr;
  gap: 10px;
  grid-template-areas: 
    "timer-label timer-label timer-label timer-label"
    "time-left time-left time-left time-left"
    "start_stop start_stop reset reset"
    "session-label session-increment break-label break-increment"
    "session-length session-decrement break-length break-decrement"
    "time-toggle toggle-text toggle-text toggle-text";
  border: 3px solid #a2a2a2;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  align-items: center;
  justify-content: center;
  background-color: #234567;
}

.small-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  border: 3px solid #a2a2a2;
  margin-left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  user-select: none;
}

.large-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  border-radius: 10px;
  height: 35px;
  width: 140px;
  border: 3px solid #a2a2a2;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  user-select: none;
}

.x-large-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  border: 3px solid #a2a2a2;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  user-select: none;
}

.label {
  border-radius: 10px;
  border: 3px solid #a2a2a2;
  height: 35px;
  width: 140px;
  align-self: center;
  justify-self: center;
  background-color: #345678;
}

.wide-label {
  border-radius: 10px;
  border: 3px solid #a2a2a2;
  height: 35px;
  width: 420px;
  align-self: center;
  justify-self: center;
  background-color: #345678;
}

#break-label {
  grid-area: break-label;
}

#session-label {
  grid-area: session-label;
}

#break-decrement {
  grid-area: break-decrement;
}

#break-increment {
  grid-area: break-increment;
}

#session-decrement {
  grid-area: session-decrement;
}

#session-increment {
  grid-area: session-increment;
}

#session-length {
  grid-area: session-length;
}

#break-length {
  grid-area: break-length;
}

#timer-label {
  grid-area: timer-label;
}

#time-left {
  grid-area: time-left;
}

#start_stop {
  grid-area: start_stop;
}

#reset {
  grid-area: reset;
}

#time-toggle {
  grid-area: time-toggle;
}

#toggle-text {
  grid-area: toggle-text;
  font-size: 10pt;
  text-align: left;
}