#main {
    background-color: #a8b3c2;
    position: relative;
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#title {
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: bold;
    color: #a8b3c2;
    background-color: #296596;
    padding: 0px;
}
#img-div {
    padding: 10px;
}
#image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tribute-info {
    max-width: 900px;
    margin: auto;
    text-align: justify;
}