.App {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.drum-machine {
  margin: 25vh auto;
  width: 560px;
  height: 365px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
      "pads pads pads title"
      "pads pads pads display"
      "pads pads pads .";
  border: 5px #574730 solid;
  background-color: #b8a66c;
  border-radius: 10px;
}

.padwrapper {
  grid-area: pads;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 250px;
  height: 250px; */
}

.title {
  grid-area: title;
  margin: 10px;
}

.display {
  grid-area: display;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1919;
  width: 180px;
  height: 40px;
  margin: 10px;
  color: #11e611;
  border-radius: 10px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5353;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px black;
}

.playing {
  background-color: orange;
  box-shadow: 
    inset 0 0 20px 20px #5a5353,
    3px 3px 3px black;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}